.todo-list {
  font-size: calc(15px + 2vmin);
  margin: 0 auto;
  max-width: 96%;
  padding-left: 2%;
  padding-right: 2%;
  padding-top: 2%;
}

.no-todos {
  color: #fff;
}

@media (min-width: 1200px) {
  .todo-list {
    max-width: 75vw;
  }
}
